/* alerts */

.avatar-sm {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8rem;
}
.avatar-md {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 8rem;
}
.avatar-lg {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 8rem;
}

/* alerts */
.alert {
  padding: 1rem;
  max-width: 50%;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.alert-success {
  background-color: var(--success-light);
  color: var(--success-dark);
}
.alert-failure {
  background-color: var(--failure-light);
  color: var(--failure-dark);
}
.alert-blue {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}
.alert-gray {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}
.alert-yellow {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
}
.alert-pink {
  background-color: var(--pink-light);
  color: var(--pink-dark);
}
.alert-indigo {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
}
.alert-purple {
  background-color: var(--purple-light);
  color: var(--purple-dark);
}

/* buttons */

.button-sm {
  padding: 0.8rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  font-weight: 600;
}
.button-md {
  padding: 1.2rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  font-weight: 600;
}
.button-lg {
  padding: 1.4rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  font-weight: 600;
}

.button-success {
  background-color: var(--success-light);
  color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.button-failure {
  background-color: var(--failure-light);
  color: var(--failure-dark);
  border: 1px solid var(--failure-dark);
}
.button-blue {
  background-color: var(--blue-light);
  color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}
.button-gray {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}
.button-yellow {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
.button-pink {
  background-color: var(--pink-light);
  color: var(--pink-dark);
  border: 1px solid var(--pink-dark);
}
.button-indigo {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
  border: 1px solid var(--indigo-dark);
}
.button-purple {
  background-color: var(--purple-light);
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

/* when hover happens */
.button-success:hover {
  background-color: var(--success);
  color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.button-failure:hover {
  background-color: var(--failure);
  color: var(--failure-dark);
  border: 1px solid var(--failure-dark);
}
.button-blue:hover {
  background-color: var(--blue);
  color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}
.button-gray:hover {
  background-color: var(--gray);
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}
.button-yellow:hover {
  background-color: var(--yellow);
  color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
.button-pink:hover {
  background-color: var(--pink);
  color: var(--pink-dark);
  border: 1px solid var(--pink-dark);
}
.button-indigo:hover {
  background-color: var(--indigo);
  color: var(--indigo-dark);
  border: 1px solid var(--indigo-dark);
}
.button-purple:hover {
  background-color: var(--purple);
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

/* text buttons */
.button-text {
  margin: 1rem auto;
  padding: 0.8rem;
  border-radius: 0.3rem;
}
.button-text-success:hover {
  background-color: var(--success-light);
  color: var(--success-dark);
}
.button-text-failure:hover {
  background-color: var(--failure-light);
  color: var(--failure-dark);
}
.button-text-blue:hover {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}
.button-text-gray:hover {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}
.button-text-yellow:hover {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
}
.button-text-pink:hover {
  background-color: var(--pink-light);
  color: var(--pink-dark);
}
.button-text-indigo:hover {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
}
.button-text-purple:hover {
  background-color: var(--purple-light);
  color: var(--purple-dark);
}
