/* alerts */
.alert {
  padding: 1rem;
  max-width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.alert-success {
  background-color: var(--success-light);
  color: var(--success-dark);
}
.alert-failure {
  background-color: var(--failure-light);
  color: var(--failure-dark);
}
.alert-blue {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}
.alert-gray {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}
.alert-yellow {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
}
.alert-pink {
  background-color: var(--pink-light);
  color: var(--pink-dark);
}
.alert-indigo {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
}
.alert-purple {
  background-color: var(--purple-light);
  color: var(--purple-dark);
}

/* avatars */
.avatar {
  position: relative;
  border-radius: 8rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar-md {
  width: 5rem;
  height: 5rem;
}
.avatar-lg {
  width: 7.5rem;
  height: 7.5rem;
}

/* floating-action button*/
.floating-action {
  text-decoration: none;
  background-color: var(--failure-light);
  color: var(--failure-dark);
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* btns */
.btn {
  padding: 1rem 2.4rem;
  margin: 1rem auto;
  border-radius: 0.2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline-success {
  color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.btn-outline-failure {
  color: var(--failure-dark);
  border: 1px solid var(--failure-dark);
}
.btn-outline-blue {
  color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}
.btn-outline-gray {
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}
.btn-outline-yellow {
  color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
.btn-outline-pink {
  color: var(--pink-dark);
  border: 1px solid var(--pink-dark);
}
.btn-outline-indigo {
  color: var(--indigo-dark);
  border: 1px solid var(--indigo-dark);
}
.btn-outline-purple {
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}
/* secondary button */
.btn-primary-success {
  background-color: var(--success-light);
  color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.btn-primary-failure {
  background-color: var(--failure-light);
  color: var(--failure-dark);
  border: 1px solid var(--failure-dark);
}
.btn-primary-blue {
  background-color: var(--blue-light);
  color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}
.btn-primary-gray {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}
.btn-primary-yellow {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
.btn-primary-pink {
  background-color: var(--pink-light);
  color: var(--pink-dark);
  border: 1px solid var(--pink-dark);
}
.btn-primary-indigo {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
  border: 1px solid var(--indigo-dark);
}
.btn-primary-purple {
  background-color: var(--purple-light);
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

/* when hover happens */

/* primary button hovers*/
.btn-primary-success:hover {
  color: var(--success-light);
  background-color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.btn-primary-failure:hover {
  color: var(--failure-light);
  background-color: var(--failure-dark);
  border: 1px solid var(--failure-dark);
}
.btn-primary-blue:hover {
  color: var(--blue-light);
  background-color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
}
.btn-primary-gray:hover {
  color: var(--gray-light);
  background-color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}
.btn-primary-yellow:hover {
  color: var(--yellow-light);
  background-color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
.btn-primary-pink:hover {
  color: var(--pink-light);
  background-color: var(--pink-dark);
  border: 1px solid var(--pink-dark);
}
.btn-primary-indigo:hover {
  color: var(--indigo-light);
  background-color: var(--indigo-dark);
  border: 1px solid var(--indigo-dark);
}
.btn-primary-purple:hover {
  color: var(--purple-light);
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

/* text btns */
.btn-text {
  margin: 1rem auto;
  padding: 0.8rem;
  border-radius: 0.1rem;
  cursor: pointer;
}
.btn-text-success:hover {
  background-color: var(--success-light);
  color: var(--success-dark);
}
.btn-text-failure:hover {
  background-color: var(--failure-light);
  color: var(--failure-dark);
}
.btn-text-blue:hover {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}
.btn-text-gray:hover {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}
.btn-text-yellow:hover {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
}
.btn-text-pink:hover {
  background-color: var(--pink-light);
  color: var(--pink-dark);
}
.btn-text-indigo:hover {
  background-color: var(--indigo-light);
  color: var(--indigo-dark);
}
.btn-text-purple:hover {
  background-color: var(--purple-light);
  color: var(--purple-dark);
}

/* btn icon */

.btn-icon {
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.btn-icon:hover {
  box-shadow: #e5e7eb 0px 2px 5px -1px, #e5e7eb 0px 1px 3px -1px;
  /* background-color: var(--gray-light); */
  border-radius: 0.7rem;
}

/* badges */
.badge {
  position: relative;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 0.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
.badge-notification {
  position: absolute;
  top: -14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
/* badge that are icons */
.badge-icon {
  position: relative;
  border-radius: 0.2rem;
  text-align: center;
}
.badge-icon-notification {
  position: absolute;
  top: -35px;
  width: 25px;
  height: 25px;
  left: 1.6rem;
  margin: 0.1rem auto;
  border-radius: 50%;
  border: 1px solid;
}
/* cards */

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: min(300px, 60%);
  border-radius: 0.1rem;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card-header {
  position: relative;
}
.card-header-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  padding: 0.1rem;
  border-radius: 50%;
  margin: 0.2rem;
  cursor: pointer;
}
.card-horizontal {
  display: flex;
  flex-direction: row;
  width: min(300px, 40%);
  justify-content: center;
  align-items: stretch;
  margin: auto;
}
.card-img {
  max-width: 100%;
}

.card-content {
  max-width: 95%;
  color: var(--gray-dark);
}

.card-title {
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 0.8rem 1.5rem;
}
.card-text {
  padding: 0.1rem 1.5rem;
}
.card-actions {
  display: flex;
  justify-content: stretch;
}
.card-actions > button {
  background-color: var(--gray-600);
  color: var(--gray-50);
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 1px solid var(--gray-600);
  cursor: pointer;
  border-radius: 0.1rem;
  max-width: 100%;
}

/* chips */
.chips {
  display: flex;
}

.chip {
  margin: 0.2rem;
  padding: 0.2rem 0.8rem;
  color: var(--gray-600);
  background-color: var(--gray-50);
  border-radius: 2.2rem;
}

.chip.chip-selected {
  border: 1px solid var(--gray-600);
}

/* images */
.img-coverpage {
  max-width: 25%;
  margin: 0 auto;
}

.img-thumbnail {
  width: 10rem;
  height: 10rem;
}

.edge-rounded {
  border-radius: 0.7rem;
}

/* form elements */
.form-input {
  margin: 0 auto;
  width: 40%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--gray-light);
}

.form-input:focus {
  outline: none;
  border-color: var(--gray-600);
}

.outlined {
  border: 1px solid var(--gray-light);
}

.form-range {
  margin: 1rem 5rem;
  -webkit-appearance: none;
  background-color: var(--gray);
  height: 0.1rem;
  color: var(--blue-dark);
  cursor: pointer;
}

.form-checkbox {
  margin: 1rem auto;
  border: none;
}
.form-checkbox:hover,
.form-control:active {
  border: 4px solid #dbeafe;
}

.form-radio {
  padding: 1rem;
}

/* lists */
ol,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
  padding: 1.5rem auto;
  margin: 0.5rem;
  max-width: min(350px, 100%);
  border: 1px solid var(--gray);
  color: var(--gray-dark);
}

.list-item {
  color: var(--gray-dark);
  margin: 0 0;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-light);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.list-item:hover {
  background-color: var(--gray-light);
}
.list > .active {
  background-color: var(--gray);
  color: var(--gray-50);
}

.pill-rounded {
  background-color: var(--gray);
  color: var(--gray-50);
  padding: 0.2rem;
  border-radius: 100%;
}

/* navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid var(--gray-600);
  color: var(--gray-600);
  border-radius: 0.1rem;
  max-width: 100%;
}

.nav-brandlogo {
  font-size: 1.5rem;
  font-weight: bolder;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  margin: 0;
  padding: 1.5rem;
  text-decoration: none;
  color: currentColor;
}

.nav-profile {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

/* modal  */
.modal {
  display: flex;
  flex-direction: column;
  max-width: min(400px, 70%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--gray);
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-header-title {
  color: var(--gray-600);
}

.modal-body {
  line-height: 1.3rem;
}

.modal-action > button {
  color: var(--gray-50);
  background-color: var(--gray-600);
  border: none;
}

/* snackbars */
.snackbar {
  padding: 1rem;
  text-align: center;
  max-width: min(400px, 40%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 0.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.snackbar > *:first-child {
  font-size: 1.2rem;
}
.snackbar > *:last-child {
  cursor: pointer;
}
.snackbar-success {
  background-color: var(--success-light);
  color: var(--success-dark);
}
.snackbar-failure {
  background-color: var(--failure-light);
  color: var(--failure-dark);
}

/* ratings */

.rating {
  max-width: min(400px, 40%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--yellow);
}

.rating > span > svg:hover {
  cursor: pointer;
}

.filled > svg > path {
  /* fill: red; */
}
