@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --gray-600: #374151;
  --primary: #cf0;
}
html {
  scroll-behavior: smooth;
}

.body {
  background-color: #f9fafb;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
}
.root {
  /* display: grid;
  grid-template-columns: 1fr 5fr; */
  display: flex;
}

.appbar {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--gray-600);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.buttons {
  display: flex;
  justify-content: space-around;
  max-width: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}
.buttons > a {
  text-decoration: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin-top: 1rem 0.5rem 1rem auto;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.buttons > *:first-child {
  background-color: var(--primary);
  text-align: center;
  margin-right: 0rem;
}
.buttons > *:first-child:hover {
  background-color: rgb(219, 255, 75);
  color: var(--gray-600);
}
.buttons > *:last-child {
  color: var(--gray-600);
  background-color: #edf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.components > a {
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline;
  text-decoration: none;
  color: var(--gray-600);
  font-size: 1rem;
  font-weight: bold;
}

.components > a:hover {
  background-color: #dbff4d;
  border-radius: 0.2rem;
  color: var(--gray-600);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 12px 10px -10px;
}

code {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 1rem;
}

.doc-outline {
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  max-width: 65%;
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  border-top: 1px solid whitesmoke;
  color: var(--gray-600);
  text-align: center;
}
.headings {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--gray-600);
}
.hero {
  color: var(--gray-600);
  max-width: 90%;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.hero > h1 {
  text-align: center;
  font-size: 3.5rem;
}
.hero > h1 > .highlight {
  color: var(--primary);
}
.hero > h3 {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 100;
}
.logo {
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.logo > svg {
  color: var(--primary);
}

.logo .brandname {
  color: var(--gray-600);
}

.logo > a {
  text-decoration: none;
  color: var(--gray-600);
}

.repo {
  cursor: pointer;
  padding-right: 1rem;
}

.repo > a {
  color: var(--gray-600);
}

.snippet {
  max-width: 68%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

.side-nav {
  padding: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 100%;
}

@media screen and (max-width: 815px) {
  .doc-outline {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .headings {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin-top: 2rem;
  }
  .hero > h3 {
    max-width: 100%;
  }
  .side-nav {
    display: none;
  }
  .snippet {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
  .root {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 980px) {
  .buttons {
    max-width: 92%;
  }
}
