@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --gray-600: #374151;
}
html {
  scroll-behavior: smooth;
}

.body {
  background-color: #f9fafb;
  font-family: "Nunito", sans-serif;
}
.root {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 5rem;
}

.appbar {
  position: fixed;
  margin-bottom: 2rem;
  top: 0;
  width: 100%;
  padding: 1.2rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--gray-600);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  /* background-color: #dbff4d; */
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 12px 10px -10px; */
}
.side-nav {
  max-height: 100%;
}
.components {
  display: flex;
  flex-direction: column;
}

.components > a {
  padding: 1rem;
  margin: 1rem;
  display: inline;
  text-decoration: none;
  color: var(--gray-600);
  font-size: 1.2rem;
  font-weight: bold;
}
.components > a:hover {
  background-color: #dbff4d;
  border-radius: 0.5rem;
  color: var(--gray-600);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 12px 10px -10px;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.repo {
  cursor: pointer;
  padding-right: 2.5rem;
}

.headings {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--gray-600);
}

.snippet {
  max-width: 68%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

code {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 1rem;
}

.doc-outline {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  max-width: 65%;
}
